<div class="column is-9 is-full-mobile" id="playlistView">
<div id='mainPlaylistCard' class='card has-background-grey-darker has-text-white' data-playlist-id="{playlistId}">
    <header class='card-header'>
        <p id='playlistTitle' class='card-header-title has-text-white is-4'>{playlistName}</p>
        <button
            class='is-small is-rounded has-text-success ml-2'
            hx-post='/api/music/ui/playback/queue-all/{playlistId}'
            hx-trigger='click'
            hx-swap='none'
            data-playlist-id='{playlistId}'>
            <i class='pi pi-play'></i> Play All
        </button>

        <button class='card-header-icon' aria-label='more options' id='toggleAllSongsBtn'>
            <span class='icon'><i class='pi pi-angle-down' aria-hidden='true'></i></span>
        </button>
    </header>
    <div class="card-header">
        <div class="field has-addons "  style="width:100%">
            <div class="control is-expanded">
                <input class="input is-rounded" type="text" placeholder="Search songs..." name="search"
                       hx-get="/api/music/ui/tbody/{playlistId}"
                       hx-trigger="keyup changed delay:500ms, search"
                       hx-target="#songTableBody"
                       hx-swap="innerHTML"
                       hx-vals="{raw('js:{sortBy: currentSortField, sortDirection: currentSortDirection}')}">
            </div>
            <div class="control">
                <button class="button is-info is-rounded"
                        hx-get="/api/music/ui/tbody/{playlistId}"
                        onclick="document.querySelector('input[name=\'search\']').value = ''"
                        hx-target="#songTableBody"
                        hx-swap="innerHTML"
                        hx-indicator="#loadingRow"
                        hx-vals="{raw('js:{sortBy: currentSortField, sortDirection: currentSortDirection}')}">
                    Clear
                </button>
            </div>
        </div>
    </div>
    <div class='card-content m-0 p-0' id='allSongsContent'>
        <div id='songListContainer' style='max-height: calc(100vh - 320px); overflow-y: auto;'>
            <table id='songTable' class='table is-fullwidth is-hoverable is-striped'>
                <thead>
                    <tr>
                        <th></th>
                        <th class="has-text-white has-text-weight-semibold sortable-header"
                            hx-get="js:getSortUrl(this, 'title')"
                            hx-trigger="click"
                            hx-target="#songTableBody"
                            hx-swap="innerHTML"
                            hx-include="[name='search']"
                            hx-indicator="#loadingRow"
                            data-sort-by="title"
                            data-sort-direction="asc">
                            Title <i class="pi pi-sort"></i>
                        </th>
                        <th class="has-text-white has-text-weight-semibold sortable-header"
                            hx-get="js:getSortUrl(this, 'artist')"
                            hx-trigger="click"
                            hx-target="#songTableBody"
                            hx-swap="innerHTML"
                            hx-include="[name='search']"
                            hx-indicator="#loadingRow"
                            data-sort-by="artist"
                            data-sort-direction="asc">
                            Artist <i class="pi pi-sort"></i>
                        </th>
                        <th class="has-text-white has-text-weight-semibold sortable-header"
                            hx-get="js:getSortUrl(this, 'dateAdded')"
                            hx-trigger="click"
                            hx-target="#songTableBody"
                            hx-swap="innerHTML"
                            hx-include="[name='search']"
                            hx-indicator="#loadingRow"
                            data-sort-by="dateAdded"
                            data-sort-direction="asc">
                            Date Added <i class="pi pi-sort"></i>
                        </th>
                        <th class="has-text-white has-text-weight-semibold sortable-header"
                            hx-get="js:getSortUrl(this, 'duration')"
                            hx-trigger="click"
                            hx-target="#songTableBody"
                            hx-swap="innerHTML"
                            hx-include="[name='search']"
                            hx-indicator="#loadingRow"
                            data-sort-by="duration"
                            data-sort-direction="asc">
                            Duration <i class="pi pi-sort"></i>
                        </th>
                        <th class="has-text-white has-text-weight-semibold">Action</th>
                    </tr>
                </thead> 
                <tbody id='songTableBody'
                       hx-swap='innerHTML'
                       hx-include="[name='search'], [data-sort-by]"> 
                    {#include playlistTableBodyFragment /}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>