<div id="sidebarPlaylistListContainer">
    <table class="table is-fullwidth is-hoverable is-striped">
        <tbody>
            <tr>
                <td>
                    <button
                        class="button is-ghost is-fullwidth has-text-left has-text-primary"
                        hx-get="/api/music/ui/playlist-view/{profileId}/0"
                        hx-target="#playlistView"
                        hx-swap="outerHTML">
                        All Songs
                    </button>
                </td>
            </tr>
            {#for p in playlists}
            <tr oncontextmenu="togglePlaylistContextMenu(event, {p.id}, {p.isGlobal})">
                <td class="is-flex is-justify-content-space-between is-align-items-center">
                     <button
                         class="button is-ghost is-fullwidth has-text-left has-text-primary"
                         hx-get="/api/music/ui/playlist-view/{profileId}/{p.id}"
                         hx-target="#playlistView"
                         hx-swap="outerHTML"
                         style="flex-grow: 1;"
                         title="{p.originalLink ? 'Original: ' + p.originalLink : ''}">
                          {p.name ?: 'Unnamed Playlist'}
                           {#if p.isGlobal}
                           <span class="tag is-info is-small ml-2" title="Global Playlist"><i class="pi pi-globe"></i></span>
                           {/if}
                      </button>
                      <div id="playlist-context-menu-{p.id}" class="context-menu" style="display: none;">
                          <ul>
                              <li>
                                  <a class="dropdown-item" hx-get="/api/music/ui/edit-playlist/{profileId}/{p.id}" hx-target="#modal-container" hx-swap="innerHTML">
                                      <i class="pi pi-pencil"></i> Edit
                                  </a>
                              </li>
                              <li>
                                  <a class="dropdown-item" href="#" onclick="togglePlaylistShared({p.id}, {p.isGlobal})">
                                      <i class="pi pi-{p.isGlobal ? 'lock' : 'unlock'}"></i> {p.isGlobal ? 'Make Private' : 'Make Public'}
                                  </a>
                              </li>
                              {#if !p.isGlobal}
                              <li>
                                  <a class="dropdown-item has-text-danger" href="#" onclick="deletePlaylist({p.id}, '{p.name ?: 'Unnamed Playlist'}')">
                                      <i class="pi pi-trash"></i> Delete
                                  </a>
                              </li>
                              {/if}
                          </ul>
                      </div>
                      {#if !p.isGlobal}
                      <a
                          class="has-text-danger is-clickable ml-2"
                          hx-delete="/api/music/playlists/{p.id}"
                          hx-confirm="Are you sure you want to delete playlist '{p.name ?: 'Unnamed Playlist'}'?">
                          <i class="pi pi-trash"></i>
                      </a>
                      {/if}
                  </td>
             </tr>
             {/for}
        </tbody>
    </table>
</div>
