 
{#for s_with_index in queue}
    <tr class="{#if currentSong != null && s_with_index.song.id == currentSong.id}has-background-grey{/if}">
        <td style="text-align:center;">
            <figure class="image is-24x24">
                <img src="{artworkUrl.apply(s_with_index.song.artworkBase64)}" loading="lazy"/>
            </figure>
        </td>
        <td class="is-size-7" style="width:60%;">
            <span>{s_with_index.song.title ?: "Unknown"}</span><br>
            <span class="has-text-success is-size-7">{s_with_index.song.artist ?: "Unknown"}</span>
        </td>
        <td class="is-size-7" style="width:20%;">
            <div class="buttons is-small has-text-centered">
                <button class="is-small has-text-success"
                        onclick="handleQueueAction('skip', {s_with_index.index}, {profileId})">
                    <i class="pi pi-play"></i>
                </button>
                <button class="is-small has-text-danger"
                        onclick="handleQueueAction('remove', {s_with_index.index}, {profileId})">
                    <i class="pi pi-times"></i>
                </button>
            </div>
        </td>
    </tr>
    {/for}
{#if totalPages > 1}
<tr>
    <td colspan="3">
        <nav class="pagination is-centered py-4" role="navigation" aria-label="pagination">
            <a class="pagination-previous"
               {#if currentPage > 1}
                   onclick="loadQueuePage({currentPage - 1}, {profileId})"
               {#else}
                   disabled
               {/if}>
                Previous
            </a>
            <a class="pagination-next"
               {#if currentPage < totalPages}
                   onclick="loadQueuePage({currentPage + 1}, {profileId})"
               {#else}
                   disabled
               {/if}>
                Next
            </a>
            <ul class="pagination-list">
                {#for p in pageNumbers}
                    {#if p == -1}
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {#else if p == currentPage}
                        <li><a class="pagination-link is-current" aria-label="Page {p}" aria-current="page">{p}</a></li>
                    {#else}
                        <li>
                            <a class="pagination-link"
                               aria-label="Goto page {p}"
                               onclick="loadQueuePage({p}, {profileId})">
                                {p}
                            </a>
                        </li>
                    {/if}
                {/for}
            </ul>
        </nav>
    </td>
</tr>
{/if} 