{#for suggestion in suggestions}
<a href="#" class="dropdown-item"
   hx-post="/api/music/playback/select/{profileId}/{suggestion.id}"
   hx-swap="none"
   hx-on::after-request="document.getElementById('globalSearchDropdown').style.display = 'none';">
    <div class="is-flex is-align-items-center">
        <figure class="image is-32x32 mr-2">
            <img src="{artworkUrl.apply(suggestion.artworkBase64)}" alt="Artwork">
        </figure>
        <div>
            <p class="has-text-white has-text-weight-semibold">{suggestion.title}</p>
            <p class="has-text-success is-size-7">{suggestion.artist}</p>
        </div>
    </div>
</a>
{/for}
{#if suggestions.empty}
<a href="#" class="dropdown-item has-text-centered"
   hx-on:click="
       window.startImportFromSearch(document.getElementById('globalSearchInput').value);
       document.getElementById('globalSearchDropdown').style.display = 'none';
   ">
    <span class="icon-text">
        <span class="icon"><i class="pi pi-search"></i></span>
        <span>Auto Find</span>
    </span>
</a>
{/if}
