{#for s in songs}
<tr data-song-id="{s.id}" class="{#if currentSong != null && s.id == currentSong.id}has-background-grey-dark has-text-white{/if}">
    <!-- Artwork -->
    <td class="has-text-centered" style="width: 5%;">
        <figure class="image is-48x48 is-inline-block">
            <img src="{artworkUrl.apply(s.artworkBase64)}" loading="lazy" alt="Artwork">
        </figure>
    </td>

    <!-- Title + Artist -->
    <td>
        <div class="has-text-white has-text-weight-semibold">{s.title ?: "Unknown Title"}</div>
        <div class="has-text-success is-size-7">{s.artist ?: "Unknown Artist"}</div>
    </td>

    <!-- Date -->
    <td class="has-text-centered is-centered is-vcentered has-text-white has-text-weight-semibold">{formatDate.apply(s.dateAdded)}</td>

    <!-- Duration -->
    <td class="has-text-centered is-centered is-vcentered has-text-white has-text-weight-semibold">{formatDuration.apply(s.durationSeconds)}</td>

    <!-- Play button -->
    <td class="has-text-centered is-centered is-vcentered">
        <div class="buttons is-small is-grouped is-centered is-vcentered">
            <button
                class="button is-small is-rounded is-success"
                hx-post="/api/music/playback/select/{s.id}"
                hx-trigger="click"
                hx-swap="none"
                data-playlist-id="{playlistId}">
                <i class="pi pi-play"></i>
            </button>
            {#if playlistId == 0}
            <button
                class="button is-small is-rounded is-info"
                hx-get="/api/music/ui/add-to-playlist-dialog/{s.id}"
                hx-target="#addToPlaylistModalContent"
                hx-swap="innerHTML"
                hx-on::after-request="document.getElementById('addToPlaylistModal').classList.add('is-active')">
                <i class="pi pi-plus"></i>
            </button>
            {/if}
        </div>
    </td>
</tr>
{/for}