<table id="songTable">
    <tbody id="songTableBody"
           data-playlist-id="{playlistId}"
           data-offset="{nextOffset}"
           data-limit="{limit}"
           data-total-songs="{totalSongs}">
        {#for s in songs}
        <tr class='{#if currentSong != null && s.id == currentSong.id}has-background-grey{/if}'>
            <td style='text-align:center;width:5%;'>
                <figure class='image is-48x48'>
                    <img src="{artworkUrl.apply(s.artworkBase64)}" loading="lazy"/>
                </figure>
            </td>
            <td>
                <div>{s.title ?: "Unknown Title"}</div>
                <div class='has-text-success is-size-7'>{s.artist ?: "Unknown Artist"}</div>
            </td>
            <td>{formatDate.apply(s.dateAdded)}</td>
            <td>{formatDuration.apply(s.durationSeconds)}</td>
            <td>
                <div class="is-flex is-align-items-center is-justify-content-center">
                    <button
                        class='is-small is-rounded has-text-success ml-2 play-song-btn'
                        hx-post='/api/music/playback/select/{s.id}'
                        hx-trigger='click'
                        hx-swap='none'
                        data-playlist-id="{playlistId}">
                        <i class='pi pi-play'></i> Play
                    </button>
                </div>
            </td>
        </tr>
        {/for}
    </tbody>
</table>

<div class="load-all-controls">
    <button id="loadAllBtn" class="button is-small">Load All</button>
</div>


<script src="/js/playlistBodyHelper.js"></script>
