{#for s in songs}
<tr>
    <td>{s.title ?: "Unknown Title"}</td>
    <td>{s.artist ?: "Unknown Artist"}</td>
    <td>{formatDuration.apply(s.durationSeconds)}</td>
    <td>
        <button class="has-text-primary" hx-post="/api/music/playback/select/{profileId}/{s.id}" hx-trigger="click" hx-swap="none">
            <i class="pi pi-play"></i>
        </button>
        <button class="has-text-success" hx-post="/api/music/playlist/1/add/{s.id}" hx-trigger="click" hx-swap="none">
            <i class="pi pi-plus"></i>
        </button>
    </td>
</tr>
{/for}
